/* use unordered list for nav bar */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: solid rgb(236, 97, 178) 5px
    
}

li{
    display: inline;
    padding: 15px;
}
/* game board maybe change to a backgroundimage? */ 

#board{
    border: solid black 3px;
    height: 550px;
    background-color: rgb(241, 237, 234) ;
}
.gameDashes{
    font-size: 75px;
    text-align:center
}

.correct{
    background-color: rgb(221, 184, 209);
    border: solid black 2px;
    height: 30px ;
    font: weight 500; font-style: italic;
}

.incorrect{
    background-color: rgb(245, 73, 139);
    border: solid black 2px;
    height: 30px ;
    font: weight 500; font-style: italic;
}

#shead {
    background:rgb(255, 255, 255);
    border: black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    /* position: absolute; */
}

#storso {
    border-radius: 50%;
    width: 150px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    
} 

#sbottom {
    background: rgb(255, 255, 255);
    border-radius: 75%;
    width: 200px;
    height: 150px;
    position: absolute;
    
}

